@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: white;
}

#root{
  width: 100%;
  height: 100%;
  background-image: url('./assets/Images/shopping-carts.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}